body {
    background-color: whitesmoke;
}

.titulo {
    text-align: center;
    color: black;
}


/* botoes da pagina de inicio */
.btns {
    width: 150px;
    height: 100px;
    text-align: center;
    font-size: 32px;
    transition: transform 0.1s ease-in-out;
}

.btns:hover {
    transform: scale(0.8);
}
/**/




/* Caixa */

.caixa {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;

    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}